<!DOCTYPE html>
<html lang="en" ng-app="<%= name %>">

<head>
    <meta charset="UTF-8">
    <title><%= name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%% for (var css in htmlWebpackPlugin.files.css) { %><link href="<%%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><%% } %>
    <%% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script><%% } %>
</head>

<body>
    <p><%= message %></p>
    <ng-view></ng-view>
</body>

</html>